<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Travel Journal App
        </div>
        <div class="inputForm">
            <form action="/" method="post">
                <label for="cityInput">Enter City Name here</label>
                <input type="text" id="cityInput" placeholder="enter city name here" name="cityName" value="London">

                <!-- Start Date -->
                <label for="startTrip">Your Trip Starts at :</label>
                <input type="date" id="startDate" name="startDate" value="2020-04-22" min="2018-01-01"
                    max="2025-12-31">>

                <!-- End Date -->
                <label for="endTrip">Your Trip Ends at :</label>
                <input type="date" id="endDate" name="endDate" value="2020-04-23" min="2018-01-01" max="2025-12-31">>

                <!-- Bottom -->
                <input type="submit" id="" value="Go" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">



                <!-- <input type="text" id="depDate" placeholder="enter city name here" name="cityName" value="London"> -->
                <!-- <input type="text" id="arriveDate" placeholder="enter city name here" name="cityName" value="London"> -->
            </form>
        </div>
        <div>
            <section id="travelInfo">
                <section id="info">
                    <p id="day"></p>
                    <img id="weatherIcon" src="" alt="" srcset="">
                    <p id='weather'></p>
                    <p id="temp"></p>
                </section>
            </section>
            <section i>
                <img id="photo" src="" alt="" srcset="">
            </section>
        </div>
    </div>

    <a href="about.html">about</a>


</body>

</html>
