<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Travel Journal App
        </div>
        <div class="cityName">
            <form action="/" method="post">
                <label for="cityInput">Enter City Name here</label>
                <input type="text" id="cityInput" placeholder="enter city name here" name="cityName" value="London">
                <button type="submit">Go</button>
            </form>
        </div>

        <p>1 </p>
        <p>2 </p>
        <p>3 </p>
        <p>4 </p>
        <p>5 </p>






    </div>

</body>

</html>
