* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-blend-mode: exclusion;
   background: $primery-color;
   font-family: $fontFamily;
   margin-left: $margin-large;
   margin-right: $margin-large;
}

// 

#travelInfo {
   display: none;
}

#welcome {
   margin-top: 5rem;
   margin-bottom: 5rem;
   padding: 1rem
}
